Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter: lcddefault

! to match gnome-terminal "Linux console" scheme
! foreground/background
XTerm*background: #300a24
XTerm*foreground: #ffffff

XTerm*color0: #2e3436
XTerm*color1: #cc0000
XTerm*color2: #4e9a06
XTerm*color3: #c4a000
XTerm*color4: #3465a4
XTerm*color5: #75507b
XTerm*color6: #0b939b
XTerm*color7: #d3d7cf
XTerm*color8: #555753
XTerm*color9: #ef2929
XTerm*color10: #8ae234
XTerm*color11: #fce94f
XTerm*color12: #729fcf
XTerm*color13: #ad7fa8
XTerm*color14: #00f5e9
XTerm*color15: #eeeeec

XTerm*renderFont: true
XTerm*faceName: Ubuntu Mono
XTerm*faceSize: 13

XTerm*selectToClipboard: true

XTerm*vt100.translations: #override \
        Shift <KeyPress> Up:      scroll-back(1, line) \n\
        Shift <KeyPress> Down:    scroll-forw(1, line) \n\
        Shift <KeyPress> Insert:  string(0x1b) string(0x5b) string(2;2~) \n\
        Ctrl Shift <KeyPress> C:  select-end(PRIMARY,CLIPBOARD,CUT_BUFFER0) \n\
        Ctrl Shift <KeyPress> V:  insert-selection(CLIPBOARD, CUT_BUFFER0, PRIMARY)

XTerm*scrollBar: false

XTerm*saveLines: 65535
