[Desktop Entry]
Type=Application
Name=gnome-i3
Comment=improved dynamic tiling window manager
Exec=gnome-i3
X-GNOME-WMName=i3
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
