packages: [
  "atom-beautify"
  "atom-terminal"
  "autocomplete-paths"
  "git-blame"
  "language-haml"
  "linter-rubocop"
  "package-sync"
  "railscast-theme"
  "rspec"
  "script"
  "squint-test"
  "symbol-gen"
  "symbols-tree-view"
  "tab-smart-sort"
  "tree-view-open-files"
  "xml-formatter"
  "language-terraform"
]
