'packages': [
  'atom-beautify'
  'atom-terminal'
  'autocomplete-paths'
  'autocomplete-plus'
  'autocomplete-snippets'
  'git-blame'
  'language-haml'
  'linter-rubocop'
  'package-sync'
  'railscast-theme'
  'rspec'
  'script'
  'squint-test'
  'symbol-gen'
  'tab-smart-sort'
  'tree-view-open-files'
  'xml-formatter'
]
