"*":
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css:
      newline_between_rules: true
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "72f5102b-6f28-4282-92e3-6ace3fbca528"
    gherkin: {}
    handlebars: {}
    html: {}
    jade: {}
    java: {}
    js:
      indent_size: 2
      space_before_conditional: false
    json: {}
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "atom-package-deps":
    ignored: [
      "linter-rubocop"
    ]
  "atom-rspec":
    command: "bundle exec rspec"
  "autocomplete-plus":
    confirmCompletion: "enter"
    enableAutoActivation: false
  "autoupdate-packages":
    lastUpdateTimestamp: 1500371440892
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "linter"
      "autocomplete-snippets"
      "autocomplete"
      "snippets"
      "tab-smart-sort"
      "whitespace"
      "symbols-tree-view"
      "spell-check"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "railscast-theme"
    ]
  editor:
    fontFamily: "Ubuntu Mono, Monaco"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.3
    preferredLineLength: 120
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "033b1fef-754e-a7ed-c6fc-be7bb9b5ec7a"
  "file-icons":
    strategies:
      hashbangs: false
      linguist: false
      modelines: false
    tabPaneIcon: false
  "git-blame": {}
  linter:
    lintOnChange: false
  metrics:
    userId: "6fa07d2cebcc7fe31aaac4961b00ca5bb25dbd10"
  "release-notes":
    viewedVersion: "3371252"
  "tab-smart-sort": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".html.jsp.text":
  editor:
    preferredLineLength: 120
".html.php.text":
  editor:
    preferredLineLength: 120
".html.ruby.text":
  editor:
    preferredLineLength: 120
".java-properties.source":
  editor:
    preferredLineLength: 120
".java.source":
  editor:
    preferredLineLength: 120
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 120
".junit-test-report.text":
  editor:
    preferredLineLength: 120
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 120
".rails.ruby.source":
  editor:
    preferredLineLength: 120
".ruby.source.sql":
  editor:
    preferredLineLength: 120
".text.xml":
  editor:
    preferredLineLength: 120
".text.xml.xsl":
  editor:
    preferredLineLength: 120
