"*":
  "exception-reporting":
    userId: "033b1fef-754e-a7ed-c6fc-be7bb9b5ec7a"
  "release-notes":
    viewedVersion: "3371252"
  welcome:
    showOnStartup: false
  metrics:
    userId: "6fa07d2cebcc7fe31aaac4961b00ca5bb25dbd10"
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 18
    showInvisibles: true
    preferredLineLength: 120
    invisibles: {}
    zoomFontWhenCtrlScrolling: false
    lineHeight: 1.3
  core:
    disabledPackages: [
      "linter"
      "autocomplete-snippets"
      "autocomplete"
      "snippets"
      "tab-smart-sort"
    ]
    themes: [
      "atom-light-ui"
      "railscast-theme"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
    showOnRightSide: true
  whitespace:
    ensureSingleTrailingNewline: false
  "atom-rspec":
    command: "bundle exec rspec"
  linter:
    lintOnChange: false
  "atom-beautify":
    _analyticsUserId: "72f5102b-6f28-4282-92e3-6ace3fbca528"
  "autocomplete-plus":
    enableAutoActivation: false
    confirmCompletion: "enter"
  "git-blame": {}
  "symbols-tree-view":
    autoToggle: true
    scrollAnimation: false
  "tab-smart-sort": {}
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 120
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 120
".text.xml.xsl":
  editor:
    preferredLineLength: 120
    nonWordCharacters: "dfhdhdf"
".html.ruby.text":
  editor:
    preferredLineLength: 120
".rails.ruby.source":
  editor:
    preferredLineLength: 120
".ruby.source.sql":
  editor:
    preferredLineLength: 120
".text.xml":
  editor:
    preferredLineLength: 120
    nonWordCharacters: "dfhdhdfAq"
