packages: [
  "atom-beautify"
  "atom-terminal"
  "autocomplete-paths"
  "git-blame"
  "language-haml"
  "linter-rubocop"
  "package-sync"
  "railscast-theme"
  "script"
  "symbol-gen"
  "tree-view-open-files"
  "xml-formatter"
  "file-icons"
  "atomic-chrome"
  "pigments"
  "autoupdate-packages"
]
