packages: [
  "atom-beautify"
  "atom-terminal"
  "atomic-chrome"
  "autocomplete-paths"
  "autoupdate-packages"
  "blame"
  "file-icons"
  "language-gradle"
  "language-groovy"
  "language-haml"
  "language-liquid"
  "language-sugar-cube"
  "no-caffeine-syntax"
  "open-recent"
  "package-sync"
  "rails-transporter"
  "railscast-theme"
  "ruby-block"
  "script"
  "symbol-gen"
  "symbols-tree-view"
  "tab-smart-sort"
  "vertical-tabs"
  "xml-formatter"
  "zenburn"
]
