/* scrollbar usability */
.scrollbars-visible-always {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;

    &-track {
      border: 0px;
      background-color: transparent;
    }

    &-thumb {
      border: 0px;
      background-color: #888;
    }
  }

  atom-text-editor {
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;

      &-track {
        border: 0px;
        background-color: transparent;
      }

      &-thumb {
        border: 0px;
        background-color: #888;
      }
    }
  }
}

/* typography */
atom-workspace {
  font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  -webkit-text-stroke-width: 0.35px;
}

atom-text-editor[mini], .settings-view .package-readme, .settings-view select.form-control, .tooltip {
  font-size: unset;
}

atom-text-editor[mini] {
  line-height: 35px;
}

atom-panel, .tool-panel {
  text-shadow: none !important;
}

.list-group li:not(.list-nested-item), .list-tree li:not(.list-nested-item), .list-group li.list-nested-item > .list-item, .list-tree li.list-nested-item > .list-item {
  text-shadow: none;
  line-height: 1.6em;
}

.list-group .selected::before, .list-tree .selected::before {
  height: 1.6em;
}

.tab-bar .tab .close-icon::before {
  font-size: 1em;
  margin-top: -1px;
}

/* colours */
atom-text-editor {
  background-color: #000000;
  color: #ffffff;

  &[mini] {
    /*
    background-color: #fefefe;
    color: #6a6a6a;
    */
    background-color: #ffffff;
    color: #000000;

    &.is-focused .cursor {
      border-color: #000000;
    }
  }
}

atom-panel, .tool-panel {
  color: #000;
}

.list-group li:not(.list-nested-item), .list-tree li:not(.list-nested-item), .list-group li.list-nested-item > .list-item, .list-tree li.list-nested-item > .list-item {
  line-height: 1.6em;
}

.tab-bar .tab {
  color: #000;
}

/* settings layout */
.settings-view input[type="checkbox"] {
  margin-top: 8px;
}

/* find-and-replace colour fixes */
atom-text-editor .find-result .region, atom-text-editor.editor .find-result .region, atom-text-editor .current-result .region, atom-text-editor.editor .current-result .region {
  background-color: transparent;
}

/* vertical-tabs */
.vertical .tab-bar {
  box-shadow: none;

  .tab:last-of-type {
    box-shadow: none;
  }

  .tab {
    border: none;
    line-height: 2em;

    .close-icon, &.modified:not(:hover) .close-icon {
      width: 1em;
      height: 1em;
      font-size: 1em;
      line-height: 1;
      margin-right: 0 !important;
    }
  }
}

/* status bar */
.status-bar {
  height: 2em;
  line-height: 2em;
}

/* modal / popup layout */
.overlay, atom-panel.modal {
  max-width: 1000px;
}

atom-panel.modal {
  border-bottom: none;

  &.from-top {
    top: 20px;
  }

  &:after {
    display: none;
    -webkit-animation: none;
  }
}

/* fuzzy finder layout */
atom-panel.modal .select-list, atom-panel.modal.select-list {
  ol.list-group {
    max-height: 547px !important;

    li {
      line-height: 1.6em;
      padding: 0.5em 1em;
    }
  }
}

/*
.select-list.fuzzy-finder ol.list-group {
  li.two-lines {
    .primary-line { display: none; }
    .secondary-line { color: #000000; }
    &.selected .secondary-line {
      color: #000000;
      text-shadow: none;
    }
  }
}*/

/*
.linter-highlight.warning .region {
  background: none;
  border: 1px solid #daa520 !important;
  z-index: 10000;
}*/

ol.results-view {
  > li {
    margin-bottom: 20px;
    :last-child {
      margin-bottom: 0;
    }
  }
  .path-name {
    font-weight: bold;
  }
}

/* git-blame colour fixes */
atom-text-editor.editor .git-blame-mount .git-blame .git-blame-scroller {
  .blame-lines .blame-line.line-bg-lighter, .blame-lines .blame-line.line-bg-darker {
    background-color: rgb(43, 43, 43);
    color: #E6E1DC;

    a {
      color: #E6E1DC;
    }

    .text-highlight {
      color: #E6E1DC;
    }
  }
}

/* document-outline fixes */
.document-outline heading-node.list-nested-item.highlight {
  background-blend-mode: normal;
  background: #fff;
  color: #000;
}

.document-outline heading-node.list-nested-item .icon.icon-one-dot:before {
  content: "•";
  font-size: 1em;
  height: 21px;
  line-height: 21px;
  margin-right: 3px;
}

.document-outline document-tree {
  margin-left: 0;
}

.document-outline heading-node.list-nested-item {
  padding: 4px 4px;
}

.document-outline heading-node.list-nested-item.highlight {
  padding: 3px 4px;
  border-color: #ccc;
}

/* ruby-block colours */
atom-text-editor.editor {
  .line-number.ruby-block-highlight {
    background-color: #474d5c;
  }

  .highlights {
    .ruby-block-highlight .region {
      background-color: #474d5c;
    }
  }
}
