/* font sizing */
@font-size: 16px;
html, body, .tree-view, .tab-bar .tab, .status-bar, .settings-view, .btn, .editor.mini, .panel-heading {
  font-size: @font-size;
}

.list-group .selected::before, .list-tree .selected::before {
  height: 27px;
}

atom-panel, .tool-panel {
  text-shadow: none !important;
}

.rspec-console.rspec pre, .rspec-console.rspec pre div.editor, .rspec-console.rspec code, .rspec-console.rspec tt {
  font-size: 16px;
}

/* colours */
atom-text-editor.editor {
  background-color: #000000;
  color: #ffffff;

  .gutter {
    background-color: #151515;
  }

  &[mini] {
    /*
    background-color: #fefefe;
    color: #6a6a6a;
    */
    background-color: #ffffff;
    color: #000000;

    &.is-focused .cursor {
      border-color: #000000;
    }
  }
}

atom-text-editor .current-result .region, atom-text-editor::shadow .current-result .region {
  background-color: transparent;
}

atom-text-editor.editor.is-focused .line-number.cursor-line-no-selection, .editor.is-focused .line.cursor-line {
  background-color: #131313;
}

.git-blame .blame-lines .blame-line.line-bg-darker {
  color: #000000;
}

.overlay, atom-panel.modal {
  width: 1000px;
  margin-left: -500px;
}

.select-list {
  ol.list-group {
    max-height: 542px;
  }
}

/*
.select-list.fuzzy-finder ol.list-group {
  li.two-lines {
    .primary-line { display: none; }
    .secondary-line { color: #000000; }
    &.selected .secondary-line {
      color: #000000;
      text-shadow: none;
    }
  }
}*/

/*
.linter-highlight.warning .region {
  background: none;
  border: 1px solid #daa520 !important;
  z-index: 10000;
}*/

ol.results-view {
  > li {
    margin-bottom: 20px;
    :last-child {
      margin-bottom: 0;
    }
  }
  .path-name {
    font-weight: bold;
  }
}

atom-text-editor::shadow .git-blame-mount .git-blame .git-blame-scroller {
  background-color: rgb(43, 43, 43) !important;

  .blame-lines .blame-line.line-bg-lighter, .blame-lines .blame-line.line-bg-darker {
    background-color: rgb(43, 43, 43) !important;
    color: #E6E1DC;

    a {
      color: #E6E1DC;
    }
  }
}

.tab-bar {
  display: none;
}

.tree-view-open-files {
  flex: 0 1 auto;
  max-height: 500px !important;
}

.tree-view-resizer .tree-view-scroller {
  flex: 1 1 0;
}